# <center style="color: green"> <b> SUMMATIONS AND PRODUCTS </b> </center>

### <b> 1- Let's compute the following expressions </b>

<b> (i) Sum</b>

In [ ]:
n = 5

In [ ]:
sum = 0

for i in range(1,n,2):
    sum += i + 3
    
print(sum)

<b> (ii) Product</b>

In [ ]:
product = 1

for i in range(0,n,2):
    product *= (i + 3)
    
print(product)

### <b> 2- Working days or weekends </b>

In [ ]:
number = 1

In [ ]:
week = {1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday', 5: 'friday', 6: 'saturday', 7: 'sunday'}

if number < 5:
    print(week[number + 1])
else:
    print('weekend')

### <b> 3- Number of day in a month </b>

In [ ]:
number = 11

In [ ]:
#month = {1: 31, 2: 28, 3: 31:, 4: 30, 5: 31, 6: 30, 7:31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}

if number < 7:
    if(number%2 ):
        if(number == 1):
            print(28)
        else:
            print(30)
    else:
        print(31)

else:
    if(number%2 ):
        print(31)
    else:
        print(30)

### <b> 4- name displaying </b>

In [ ]:
for i in range(3):
    print("Godonou")

In [ ]:
i = 1
while i < 4:
    print("Godonou")
    i += 1

### <b> 5- Fibonacci </b>

In [ ]:
a0, a1 = 5, 7

In [ ]:
an_1 = a0 #an - 1

an = a1 #an

print(an_1)
print(an)

for i  in range(13):
    an__1 = an + an_1 #an+1
    print(an__1)
    an_1 = an
    an = an__1

### <b> 6- 30 fist term of the sequence defined by 2xn+2 − xn+1 − 6xn = 0 </b>

In [ ]:
x0, x1 = 1, 3

In [ ]:
xn_1 = x1 #xn + 1

xn = x0 #xn

print(xn)
print(xn_1)

for i  in range(28):
    xn_2 = (6*xn + xn_1)/2 #xn+1
    print(xn_2)
    xn = xn_1
    xn_1 = xn_2

### <b> 7- leap year</b>

 <b> a)</b>

In [54]:
year = 2016

In [58]:
if(year%4 == 0):
    if(year%100 == 0):
        if(year%400 == 0):
            print(year, 'is a leap year')
        else:
            print(year, 'is not a leap year')
else:
    print(year, 'is not a leap year')

 <b> b)</b>

### <b> 8- sum of the square of the fisrt n natural number</b>

 <b> a)</b>

In [77]:
n = 8

In [80]:
sum = 0

for i in range(n):
    sum += i*i
    
print(s)

10

In [81]:
sum = 0
i = 0

while i < n:
    sum += i**2
    i += 1
    
print(s)

10

 <b> b)</b>

 ### <b> 9 - a- Divisor</b>

In [90]:
number = 8

divisor_list = []

In [91]:
for i in range(1, int(number/2) + 1):
    if(number%i == 0):
        divisor_list.append(i)

for i in divisor_list:
    print(i)

1
2
4

 ### <b> 9 - b- prime factor</b>

### <b> 10 - Multiplication table</b>

In [56]:
n = 8

N = 12

In [57]:
for i in range(0, N+1):
    print(n, '*', i, '=', n*i)

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96

### <b> 11 - floor of float </b>

In [ ]:
number = 4.8