# <center style="color: green"> <b> SUMMATIONS AND PRODUCTS </b> </center>

### <b> 1- Let's compute the following expressions </b>

<b> (i) Sum</b>

In [3]:
n = 5

In [4]:
sum = 0

for i in range(1,n,2):
    sum += i + 3
    
print(sum)

10

<b> (ii) Product</b>

In [5]:
product = 1

for i in range(0,n,2):
    product *= (i + 3)
    
print(product)

105

### <b> 2- Working days or weekends </b>

In [12]:
number = 1

In [11]:
week = {1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday', 5: 'friday', 6: 'saturday', 7: 'sunday'}

if number < 5:
    print(week[number + 1])
else:
    print('weekend')

tuesday

### <b> 3- Number of day in a month </b>

In [40]:
number = 11

In [41]:
#month = {1: 31, 2: 28, 3: 31:, 4: 30, 5: 31, 6: 30, 7:31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}

if number < 7:
    if(number%2 ):
        if(number == 1):
            print(28)
        else:
            print(30)
    else:
        print(31)

else:
    if(number%2 ):
        print(31)
    else:
        print(30)

31

### <b> 4- name displaying </b>

In [19]:
for i in range(3):
    print("Godonou")

Godonou
Godonou
Godonou

In [20]:
i = 1
while i < 4:
    print("Godonou")
    i += 1

Godonou
Godonou
Godonou

### <b> 5- Fibonacci </b>

In [24]:
a0, a1 = 5, 7

In [25]:
an_1 = a0 #an - 1

an = a1 #an

print(an_1)
print(an)

for i  in range(13):
    an__1 = an + an_1 #an+1
    print(an__1)
    an_1 = an
    an = an__1

5
7
12
19
31
50
81
131
212
343
555
898
1453
2351
3804

### <b> 6- 30 fist term of the sequence defined by 2xn+2 − xn+1 − 6xn = 0 </b>

In [26]:
x0, x1 = 1, 3

In [30]:
xn_1 = x1 #xn + 1

xn = x0 #xn

print(xn)
print(xn_1)

for i  in range(28):
    xn_2 = (6*xn + xn_1)/2 #xn+1
    print(xn_2)
    xn = xn_1
    xn_1 = xn_2

1
3
4.5
11.25
19.125
43.3125
79.03125
169.453125
321.8203125
669.26953125
1300.095703125
2657.8564453125
5229.21533203125
10588.177001953125
20981.734497070312
42255.39825439453
84072.9026184082
168802.6460723877
336620.03089141846
674717.9536628723
1347219.0695056915
2697763.3957414627
5390538.906387806
10788559.640418291
21565896.539372563
43148627.190941155
86272003.21358827
172581883.17961758
345106951.2305736
690299125.1541395

### <b> Multiplication table</b>

In [43]:
n = 8

N = 12

In [44]:
for i in range(0, N+1):
    print(n, '*', i, '=', n*i)

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96